@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

* {
    margin: 0;
    font-family: Inter ExtraLight, sans-serif;
    text-decoration: none;
    color: #FFFFFF;
}

*::selection {
    background-color: #e1a84a;
    color: #2d2b0f;
}

.container {
    width: 100%;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}

section {
    display: flex;
}

a {
    font-size: 24px;
}

.first_word {
    margin-left: 160px;
}

a:hover {
    color: #9A9A9A;
}

.header {
    background-image: url("images/background.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 950px;
    padding-top: 55px;
}

.navigation {
    display: flex;
    gap: 20px;
}

.header h1 {
    font-size: 70px;
    margin-left: 160px;
    margin-top: 70px;
}

.header p {
    font-size: 21px;
    max-width: 575px;
    margin: 25px 160px 35px;
}

.header button {
    width: 207px;
    height: 57px;
    background-color: #B47B48;
    border-radius: 17px;
    box-shadow: none;
    font-size: 24px;
    border: 0;
    margin-left: 160px;
}

.header button:hover {
    background-color: #6C4622;
    cursor: pointer;
}

.card {
    transition: .3s;
    display: flex;
    background-color: #272727;
}

.cards {
    max-width: 1154px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 125px auto auto;
}

.text-desc {
    display: flex;
    flex-direction: column;
}

.text-desc h3 {
    margin-top: 50px;
    margin-right: 12px;
    font-weight: 200;
    font-size: 24px;
}

.text-desc p {
    margin-left: unset;
    margin-top: 13px;
    margin-right: 12px;
    font-weight: 500;
    font-size: 16px;
}

.text-desc button {
    margin: 0 auto;
    font-weight: 900;
    font-size: 16px;
    font-family: Inter, serif;
    background: #c85312;
    width: 79px;
    height: 34px;
    border: 0;
    border-radius: 0;
}

.card:hover {
    background-color: #EBAD51;
}

.croissant {
    font-weight: 500;
    font-size: 14px;
    color: #fff;
}

button:hover {
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;

}

main h2 {
    margin-top: 20px;
    font-weight: 100;
    font-size: 64px;
}

.order_card {
    flex-wrap: wrap;
    display: flex;
    flex-basis: 326px;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    border: 1px solid #FFFFFF;
}

.content p {
    display: flex;
    justify-content: center;
    font-weight: 800;
    font-size: 25px;
}

.main_down {
    width: 100%;
    background-image: url("images/quality_bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.all_cartochki {
    column-gap: 200px;
    row-gap: 0;
    display: flex;
    flex-wrap: wrap;
    max-width: 856px;
    margin: 0 auto;
}

.order_card button {
    margin: 10px auto;
    padding: 5px 30px;
    font-family: Inter, sans-serif;
    font-weight: 800;
    background-color: #B47B48;
    border-radius: 17px;
    border: 1px solid #B47B48;
    transition: .3s;
}

.menu .container {
    flex-direction: column;
    gap: 7px;
    padding-top: 21px;
}

.menu {
    background: #202023;
}

.menu h3 {
    align-self: center;
    font-size: 64px;
    font-weight: 100;
}

.order_card button:hover {
    background-color: transparent;
}

.quality .container {
    min-height: 700px;
    justify-content: space-between;
}

.quality article {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
}

.quality ul {
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: rgba(242, 242, 242, 0.3);
    padding: 20px 13px 80px;
}

.quality li {
    font-size: 24px;
    font-weight: 400;
}

.quality {
    background-image: url("images/quality_bg.png");
    padding-top: 120px;
    padding-bottom: 40px;
}

.quality article:nth-child(2) {
    align-self: center;
}

.quality article:nth-child(3) {
    align-self: end;
}

.quality article img {
    transform: scale(1.2);
}

.quality article:nth-child(2) img {
    transform: unset;
}

.why {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 580px;
    background-image: url("images/why_bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.why h2 {
    font-family: "Italiana", serif;
    margin-top: 50px;
    font-size: 48px;
    max-width: 735px;
}

.all_why {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.card_why {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 240px;
    gap: 32px;
}

.card_why p {
    display: flex;
    justify-content: center;
    font-family: Inter, sans-serif;
    font-size: 24px;
}

.where {
    background-color: #202023;
}

.where .container {
    flex-direction: column;
    gap: 43px;
}

.where h2 {
    font-family: "Italiana", serif;
    font-weight: 200;
    font-size: 48px;
    margin-top: 65px;
}

.why .container {
    flex-direction: column;
}

.where_content {
    display: flex;
}

.where_content iframe, .where_text {
    flex-grow: 1;
}

.where_text {
    display: flex;
    padding-left: 130px;
    gap: 85px;
}

.column {
    display: flex;
    flex-direction: column;
}

.column h4 {
    font-size: 40px;
}

.column a, .column p {
    text-decoration: none;
    font-size: 24px;
}

.column a:first-of-type {
    margin-top: 50px;
    margin-bottom: 36px;
}

.column a:last-of-type {
    margin-top: 24px;
}

.column p {
    text-align: center;
    margin-top: 50px;
}

footer {
    display: flex;
    background-color: #202023;
    padding: 40px;
    width: 100%;
    box-sizing: border-box;
}

footer .container {
    flex-direction: column;
    gap: 85px;
}

.spilne{
    display: flex;
    gap: 75px;
}

footer .big_info h2 {
    font-size: 40px;
}

.big_info {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    gap: 16px;
    max-width: 327px;
}

.big_info p {
    font-size: 20px;
}

.about_bakery {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    max-width: 685px;
    gap: 40px;
}

.about_p {
    font-size: 24px;
}

.about_a {
    font-size: 24px;
    max-width: 144px;
}

.all_of_footer {
    display: flex;
    justify-content: space-between;
    gap: 150px;
}

.end_uraaa {
    display: flex;
    justify-content: center;
}
